.button{
    background-color: #3fa6fa;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 10px;
}

.button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0,5s;
}

.button span:before{
    content: '\00AB';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}

.button:hover span{
    padding-left: 25px;
}

.button:hover span:before{
    opacity: 1;
    left: 0;
}