textarea:focus,
input:focus{
    outline: none;
}

.SearchForm_button{
    background-color: #3fa6fa;
    border-radius: 4px;
    border:none;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.SearchForm_button:hover{
    background-color: #5ab3fc;
}

.SearchForm_imput{
    border-radius: 4px;
    border: 2px solid #999;
    font-size: 18px;
    padding: 10px;
    transition: all 0.5s;
    margin-left: 10px;
}

.SearchForm_imput:focus{
    border: solid 2px #3fa6fa;
}